<%= form_for(@tarjetum) do |f| %>
  <% if @tarjetum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tarjetum.errors.count, "error") %> prohibited this tarjetum from being saved:</h2>

      <ul>
      <% @tarjetum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :notarjeta %><br>
    <%= f.text_field :notarjeta %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.number_field :valor %>
  </div>
  <div class="field">
    <%= f.label :idusuario %><br>
    <%= f.number_field :idusuario %>
  </div>
  <div class="field">
    <%= f.label :disponible %><br>
    <%= f.text_field :disponible %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
