<%= form_for @ciudade,  :html => { :multipart => true } do |f| %>
  <% if @ciudade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ciudade.errors.count, "error") %> prohibited this ciudade from being saved:</h2>

      <ul>
      <% @ciudade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
     <%= f.text_field :nombre, :placeholder => "Nombre Ciudad"%><br/>
    <%= f.text_field :pais, :placeholder => "pais"%><br/>
    <%= f.text_field :IATA, :placeholder => "IATA" %><br/>
    <%= f.text_field :zonahora, :placeholder => "zonahora" %><br/>
    <%= f.text_area :descripcion, :placeholder => "zonahora" %><br/>
    <% f.text_field :distancia %>
    <%= f.text_field :aeropuerto, :placeholder => "aeropuerto" %><br/ >

    <%= f.file_field :photo  %>
    <%= f.submit %>

  </div>
<% end %>
