<h1>Estos son nuestros destinos </h1>
<link rel="stylesheet" href="/assets/css/cards.css">
<div class="full_contact">
<ul id="destinos">
     <% @destinos.each do |destino| %>

      <li>
        <%= image_tag destino.photo.url(:small) %>
        <div class="info_avion">
          <span><%= destino.nombre %> </span><br/>        
          <strong>Pais: </strong><span><%= destino.pais %> </span><br/> 
          <strong>Distancia: </strong><span><%= destino.IATA %> </span><br/> 
          <%= link_to "Detalles", destino %>

        </div>
      </li>
    <% end %>
</ul>
</div>