<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @page_title = "UserAuth | Signup" %>
<div class="Sign_Form">
  <h1>Sign Up</h1>
  <%= form_for(:usuario, :url => {:controller => 'usuarios', :action => 'create'}) do |f| %>
    <p> Nombres:</br> <%= f.text_field :nombres%> </p>
    <p> Apellido Paterno:</br> <%= f.text_field :apellidopaterno%> </p>
    <p> Apellido Materno:</br> <%= f.text_field :apellidomaterno%> </p>
    <p> Nacionalidad:</br> <%= f.text_field :nacionalidad%> </p>
    <p> Genero:</br> <%= f.text_field :genero%> </p>
    <p> Nacimiento:</br> <%= date_select :usuario, :fechanacimiento %></p>
    <p> Coreo:</br> <%= f.text_field :correo%> </p>
    <p> Password:</br> <%= f.password_field :secreto %></p>
    <p> Password Confirmation:</br> <%= f.password_field :secreto_confirmado %> </p>
    <%= f.submit :Signup %>
  <% end %>
  <% if @usuario.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>
<% end %>

