<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :correo %><br>
    <%= f.text_field :correo %>
  </div>
  <div class="field">
    <%= f.label :nombres %><br>
    <%= f.text_field :nombres %>
  </div>
  <div class="field">
    <%= f.label :apellidopaterno %><br>
    <%= f.text_field :apellidopaterno %>
  </div>
  <div class="field">
    <%= f.label :apellidomaterno %><br>
    <%= f.text_field :apellidomaterno %>
  </div>
  <div class="field">
    <%= f.label :nacionalidad %><br>
    <%= f.text_field :nacionalidad %>
  </div>
  <div class="field">
    <%= f.label :genero %><br>
    <%= f.text_field :genero %>
  </div>
  <div class="field">
    <%= f.label :fechanacimiento %><br>
    <%= f.date_select :fechanacimiento %>
  </div>
  <div class="field">
    <%= f.label :url_imagen %><br>
    <%= f.text_field :url_imagen %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
