<%= form_for(@login) do |f| %>
  <% if @login.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@login.errors.count, "error") %> prohibited this login from being saved:</h2>

      <ul>
      <% @login.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <% @page_title = "UserAuth | Login" -%>
    <div class= "Sign_Form">
      <h1>Log in</h1>
  <%= form_for(:login, :url => {:controller => 'logins', :action => 'intento_login'}) do |f| %>
    <p> Coreo:</br> <%= f.text_field :correo%> </p>
    <p> Password:</br> <%= f.password_field :secreto %></p>
    <%= f.submit :Signup %>
  <% end %>
    </div>
  </div>
<% end %>
