<%= form_for(@avion) do |f| %>
  <% if @avion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@avion.errors.count, "error") %> prohibited this avion from being saved:</h2>
      <ul>
	<% @avion.errors.full_messages.each do |message| %>
	<li><%= message %></li>
	<% end %>
      </ul>
    </div>
  <%end%>
  
  <div class="field" style="visibility: hidden">
    <%= f.label :idavion %><br>
    <%= f.number_field :idavion %>
  </div>
  <div class="field">
    <%= f.label :modelo %><br>
    <%= f.text_field :modelo %>
  </div>
  <div class="field">
    <%= f.label :marca %><br>
    <%= f.text_field :marca %>
  </div>
  <div class="field">
    <%= f.label :capacidadprimera %><br>
    <%= f.number_field :capacidadprimera %>
  </div>
  <div class="field">
    <%= f.label :capacidadturista %><br>
    <%= f.number_field :capacidadturista %>
  </div>
  <div class="field">
    <%= f.label :disponible %><br>
    <%= f.text_field :disponible %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
   <div class="field" style="visibility: hidden">
    <%= f.label :idavion %><br>
    <%= f.number_field :idavion %>
  </div>
<% end %>
