<p id="notice"><%= notice %></p>

<p>
  <strong>Idavion:</strong>
  <%= @avion.idavion %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @avion.modelo %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @avion.marca %>
</p>

<p>
  <strong>Capacidadprimera:</strong>
  <%= @avion.capacidadprimera %>
</p>

<p>
  <strong>Capacidadturista:</strong>
  <%= @avion.capacidadturista %>
</p>

<p>
  <strong>Disponible:</strong>
  <%= @avion.disponible %>
</p>

<%= link_to 'Edit', edit_avion_path(@avion) %> |
<%= link_to 'Back', avions_path %>
