<%= form_for(@promocione) do |f| %>
  <% if @promocione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promocione.errors.count, "error") %> prohibited this promocione from being saved:</h2>

      <ul>
      <% @promocione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
  <%= f.text_field :descripcion, :placeholder => "descripcion"%><br/>
  <%= f.text_field :ciudad, :placeholder => "Ciudad de la promocion"%><br/>
  <%= f.text_field :codigopromocion, :placeholder => "CodigoPromocion" %><br/>
  <%= date_select :promocione, :iniciopromo   %><br/>
  <%= date_select :promocione, :finpromo %><br/> 

    <%= f.submit %>
  </div>
<% end %>
