<script type="text/javascript">
<% @promociones.to_json %>
</script>
</pre>
<div class="full-contact">
    <% if @gallery %>
      <%= render :partial => "gallery" %>
    <% else %>

<link rel="stylesheet" href="/assets/css/cards.css">
<div class="full_contact">
  

  <h1>Promociones del mes </h1>
  <ul id="avions">
    <% @promociones.each do |promo| %>
      <li>
        <%= image_tag promo.photo.url(:small) %>
        <div class="info_avion">
          <span><%= promo.codigopromocion %> </span><br/>        
          <strong>vence</strong><span><%= promo.finpromo %> </span><br/> 
             <%= link_to "Detalles", promo %>

  </strong>

        </div>
      </li>
    <% end %>
  
  </ul>

  </div>

    <% end %>

</div>