<%= form_for(@login) do |f| %>

    <% if flash[:alert] %>
        <div class="notice"><%= flash[:alert] %></div>
      <% end %>
  <% if @login.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@login.errors.count, "error") %> prohibited this login from being saved:</h2>

      <ul>
      <% @login.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <% @page_title = "UserAuth | Login" -%>
    <div class= "Sign_Form">

    <div class="forcer"><strong class="logo">MameAirlines</strong></div>
        <%= form_for(:login, :url => {:controller => 'logins', :action => 'intento_login'}) do |f| %>
    <%= f.text_field :correo,  :placeholder => "Usuario"%> </p>
    <%= f.password_field :secreto,  :placeholder => "Contraseña"%></p>
    <%= f.submit :Signup, :class => "submit" %>
  <% end %>
    </div>

  </div>
<% end %>
