<h1>Listing avions</h1>

<table>
  <thead>
    <tr>
      <th>Idavion</th>
      <th>Modelo</th>
      <th>Marca</th>
      <th>Capacidadprimera</th>
      <th>Capacidadturista</th>
      <th>Disponible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avions.each do |avion| %>
      <tr>
        <td><%= avion.idavion %></td>
        <td><%= avion.modelo %></td>
        <td><%= avion.marca %></td>
        <td><%= avion.capacidadprimera %></td>
        <td><%= avion.capacidadturista %></td>
        <td><%= avion.disponible %></td>
        <td><%= link_to 'Show', avion %></td>
        <td><%= link_to 'Edit', edit_avion_path(avion) %></td>
        <td><%= link_to 'Destroy', avion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Avion', new_avion_path %>
