<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @page_title = "UserAuth | Signup" %>
<div class="Sign_Form">
  <h1>Sign Up</h1>
  <%= form_for(:usuario, :url => {:controller => 'usuarios', :action => 'create'}) do |f| %>
    <%= f.text_field :nombres, :placeholder => "Nombre(s)"%> </p>
    <%= f.text_field :apellidopaterno, :placeholder => "Apellido Paterno"%> </p>
    <%= f.text_field :apellidomaterno, :placeholder => "Apellido Materno"%> </p>
    <%= f.text_field :nacionalidad ,:placeholder => "Lugar de Nacimiento"%> </p>
    <select name="usuario[genero]">
      <option> Seleccione su genero</option>
      <option value="H">Hombre</option>
      <option  value="M">Mujer</option>
    </select>
   <p id="fecha_nac"> <%= date_select(:usuario,:fechanacimiento) %></p>
    <%= f.text_field :correo,:placeholder => "Correo Electronico"%> </p>
    <%= f.password_field :secreto,:placeholder => "Contraseña" %></p>
    <%= f.password_field :secreto_confirmado,:placeholder => "Confirme contraseña"%> </p>

    <%= f.submit :Signup %>
  <% end %>
  <% if @usuario.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @usuario.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>
<% end %>
