<!doctype html>
<html lang = "es">
  <head>
    <title>Perfil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/perfil.css" />
  </head>
  
  <body>
  <div class="user-menu">
    <div id= "menu">
      <div id= "logo-principal">
      </div>
      <div id = "espacio"  class ="contenedor1">
	<div class = "comprav">
	</div>
	<p class = "compra"><%= link_to 'Mis promociones', :action => :promos %> </p>
      </div>
      <div class ="contenedor1">
	<div class = "Lugares">
	</div>
	<p class = "frecuentes"> <%= link_to 'Destinos Frecuentes', :action => :destinos %></p>
      </div>
      <div class ="contenedor1">
	<div class = "Historial">
	</div>
	<p class = "historial"><%= link_to 'Historial', :action => :historial %> </p>
      </div>
      <div class ="contenedor1">
	<div class = "configuraciones">
	</div>
	<p class = "config"><%= link_to 'Configuraciones', :action => :edit %> |</p>    
      </div>
      <div class ="contenedor1">
	<div class = "Salir">
	</div>
	<p class = "salir"><a href="/logins/logout">Salir </a></p>
      </div>
    </div>
    </div>
    <div class="user-content">
    <%= yield %>
    </div>
  </body>
</html>



