<!doctype html>
<html lang = "es">
  <head>
    <title>Perfil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/perfil.css" />
  </head>
  
  <body>
  <div class="user-menu">
    <div id= "menu">
    <div class="usss">
          <%= image_tag @usuario.avatar.url(:small) %>
</div>
      <a href="/usuarios" >

      <% @usuario = Usuario.find(session[:current_user_id]) %>

      <span><%= @usuario.nombres %> </span>
      </a>
      <div id = "espacio"  class ="contenedor1">
	<div class = "comprav">
	</div>
	<p class = "compra"><%= link_to 'Mis promociones', :action => :promos %> </p>
      </div>
      <div class ="contenedor1">
	<div class = "Lugares">
	</div>
	<p class = "frecuentes"> <%= link_to 'Destinos Frecuentes', :action => :destinos %></p>
      </div>
      <div class ="contenedor1">
	<div class = "Historial">
	</div>
	<p class = "historial"><%= link_to 'Historial', :action => :historial %> </p>
      </div>
      <div class ="contenedor1">
	<div class = "configuraciones">
	</div>
	<p class = "config"><%= link_to 'Configuraciones', :action => :edit %> |</p>    
      </div>
      <div class ="contenedor1">
	<div class = "Salir">
	</div>
	<p class = "salir"><a href="/logins/logout">Salir </a></p>
      </div>
    </div>
    </div>
    <div class="user-content">
     <% if @muse %>
      <%= render :partial => "bienvenido" %>
    <% end %>
  


    <%# Vista parcial para las promociones del usuario %>
    <% if !@promos.nil? %>
      <%= render :partial => "promos" %>
    <% end %>

     <% if @edit %>
      <%= render :partial => "edit" %>
    <% end %>

    <% if !@historial.nil? %>
      <%= render :partial => "historial" %>
    <% end %>

    <%# Vista parcial para los destinos mas frecuentes del usuario %>
     <% if !@destinos.nil? %>
      <%= render :partial=> "destinos", destinos: @destinos %>
    <% end %>

    </div>
  </body>
</html>



